
%li{ id: attribute_id }
  = form.label 'Companies'#, label_text.html_safe
  -# = form.text_field :company_tokens, options.merge(:class => 'text', :data => {load: @item.companies})
  = form.text_field :company_tokens, options.merge(class: 'text', data: {load: @item.companies.as_json( only: [:id, :name] )})

:javascript
  jQuery(function() {
    return $("input#page_company_tokens").tokenInput('/admin/companies.json', {
      theme: 'facebook',
      prePopulate: $('#page_company_tokens').data('load')
    });
  });

