/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 ** // = xrequire_tree .
 * // = xrequire screen
 * // = xrequire issues
 * // = xrequire layout
 * // = xrequire pages
 * // = xrequire registrations
 * // = xrequire typus/token-input-facebook
 */
@import "compass/css3";
@import "compass/reset";
@import "compass/utilities";
@import "blueprint";
@import "compass/typography/links/link-colors";
@import "compass/typography/links/hover-link";
@import "compass/typography/lists/bullets";
@import "layout";
@import "issues";
@import "home";
@import "pages";

$blueprint-grid-columns : 24;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 10px;
$font-color             : #333;
