// Place all the styles related to the Issues controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/typography/links/hover-link";
@import "compass/css3/inline-block";

#filters {
  width: 120%;
  position: relative;
  margin-bottom: 20px;
  margin-left: -40px;

  .home {
    display: inline-block;
    background-color: black;
    color: yellow;
    font-size: 2em;
    padding: 5px 20px 5px 20px;

    a {
      color: yellow;
      @include hover-link;
    }
  }

  .filter {
    display: inline-block;
    margin-right: 40px;
  }
  .select_issue {
  }
  .pages li{
    @include inline-block;
    margin-right: 10px;
  }
}
#magazine_container {
  position: relative;
  width: 1040px;
  height: 708px;
}
.page_nr {
  position: absolute;
  top: 0px;
  background-color: black;
  color: yellow;
  padding: 5px;
}
.page_nr_left {
    left: -20px;
}
.page_nr_right {
    right: -25px;
}
.turn_page {
  position: absolute;
  top: 300px;
  font-size: 30px;
  font-weight: bolder;

  a {
    text-decoration: none;
    border: 1px solid black;
    padding: 3px;
  }
}
.turn_page_left {
  left: -40px;
}
.turn_page_right {
  right: -40px;
}


#magazine {
  position: absolute;
  width: 100%;
  height: 100%;

  .turn-page {
    background-color: #ccc;
    background-size: 100% 100%;
  }
}

.zoom_in {
  cursor: url('zoom_in.png'), auto;
}

#zoomer {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: grey;


  .close{
    position: fixed;
    margin: 13px 5px 0 0;
    background-color: grey;

    a, a:hover, a:visited, a:active, a:focus  {
      font-weight:bold;
      color: yellow;
      background-color: black;
      padding: 5px;
    }
  }
}