@import "blueprint";

html, body {
  background-color: white;
  font-family: Verdana, Helvetica, Arial;
  font-size: 90%;
}

h1 {
  font-size: 3em;
  line-height: 3em;
}

h2 {
  font-size: 2em;
  line-height: 3em;
}

h3 {
  font-size: 1.5em;
  line-height: 3em;
}

p, table, ul {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 1em;
}

a img {
  border: none;
}

a, a:visited {
  color: black;
}
a:hover, a:active, a:focus {
  color: yellow;
  background-color: black;
}

td {
 padding-right: 10px;
}

/////////////// Advertising ///////////////

table#prices {
  border-collapse:separate;
  border-spacing:0px 10px;
  th {
    font-weight: bold;
    padding-right: 40px;
    margin-bottom: 5px;
  }
  td {
    font-weight: normal;
    padding-right: 40px;
  }
  td.note {
    vertical-align: top;
    border-left: 1px solid black;
    padding-right: 0px;
    padding-left: 10px
  }
}

span.important {
  text-transform:uppercase;
  letter-spacing: 0.2em;
}

ul {
  list-style-type: square;
  margin-left: 20px;
  padding: 3px 0 0 5px;
}

///////////////////////////////////////

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  @include container;
  position: absolute;
  width: 1100px;
  margin: 0 auto;
  background-color: #ffff00;
  padding: 20px 40px;
  margin-top: 0px;
}

#content {
  position: relative;
  width: 100%;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  width: 320px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.field_with_errors {
  display: inline;
}

#error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  margin: 8px 10px;
}

#error_explanation ul {
  margin-bottom: 0;
}

form .field, form .actions {
  margin: 12px 0;
}

#user_nav {
  float: right;
}

#footer {
  display: block;
  position: relative;
  padding: 20px 0 0 0;
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: yellow;

  .bar {
    width: 100%;
    background-color: black;
    color: yellow;
    text-align: center;
    padding: 10px;
  }
}
